---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import sqlite3 from 'sqlite3';
import { magazineData } from '../../../scripts/lib.ts'

type IssueType = {
    id: number;
    title: string;
    url: string;
}


export async function getStaticPaths() {
  const magazineKeys = magazineData.map(x => x.key);
  return magazineKeys.map((key) => {
    return {
      params: { key },
      props: {  },
    };
  });
}

function getIssues(db: sqlite3.Database, seriesId: number) {
    return new Promise<IssueType[]>((ok, ng) => {
        db.all<IssueType>(
            "SELECT p.id, p.title, rl.url " +
            "FROM prints as p "  +
            "LEFT JOIN related_links as rl ON rl.relatedType = 'PRINT' and rl.relatedId = p.id AND rl.linkType = 'IMG' AND rl.alt = '表紙'" +
            "WHERE p.seriesid = ? ORDER BY p.issueNumber", 
            [seriesId], 
            (err, rows) => {
                if (err) {
                    ng(err);
                } else {
                    ok(rows || []);
                }
            });
    });
}

const { key } = Astro.params;

const dbPath = import.meta.env.BIBLIODB_PATH;
const db = new sqlite3.Database(dbPath);
const magData = magazineData.find(x => x.key === key) 
if (magData == null) throw new Error("Not found");
const issues = await getIssues(db, magData.id); 

---
<BaseLayout pageTitle={magData.title}>
  <h2>Comic Magazine Data</h2>
  <h3>{magData.title}</h3>
  <div class="issues">
  {
    issues.map((issue) => {
      // const match = issue.title.match(/No.+$/);
      // const title = match ? match[0] : issue.title;
      return (
        <div class="issue">
          <img src={issue.url} />
          <div class="title"><a href={`/bibliographic/prints/${issue.id}`}>{issue.title}</a></div>
        </div>
      )
    })
  }
  </div>
</BaseLayout>

<style>
    .issues {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 10px;
        .issue {
            img {
                width: 150px;
                height: 214px;
            }
            .title {
                font-size: 12px;
                line-height: 12px;
                text-align: center;
            }
        }
    }
 </style>